@import "tailwindcss";


/* Theme Variables */
:root {
  --primary: #1ed166;
  --primary-light: #3b82f6;
  --bg: #b4adad;
  --card: #ffffff;
  --border: #e5e7eb;
  --text: #e8eaef;

}



html,
body,
#root {
  height: 100%;
}